

<div class="search-bar">
<form method="POST" action="/market">
  <label for="search"></label>
  <input type="text" name="search" id="search" style="width:500px;"/>
  <input type="submit" value="go" />
</form>
</div>


<h2> Market page </h>

<TABLE CLASS="mkt">
   <TR>
      <TH COLSPAN="3">
      <H3>US Indexes</H3>
      </TH>
   </TR>
   <TR>
      <TH>Index</TH>
      <TH>Price</TH>
      <TH>Up/down</TH>
   </TR>
   <TR ALIGN="CENTER">
      <TD>S&P500</TD>
      <TD> <%= @sp500_price %>    </TD>
      <TD> <%= @sp500_movement %>  </TD>
   </TR>
   <TR ALIGN="CENTER">
      <TD>NASDAQ</TD>
      <TD> <%= @nasdaq_price %>    </TD>
      <TD> <%= @nasdaq_movement %>  </TD>
   </TR>
   <TR ALIGN="CENTER">
      <TD>10yr</TD>
      <TD> <%= @sp500_price %>    </TD>
      <TD> <%= @sp500_movement %>  </TD>
   </TR>
</TABLE>





